@charset "utf-8";
@import url('reset.css');
li{
    list-style: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.woff2') format('woff2'),
        url('Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik/Rubik-Black.woff2') format('woff2'),
        url('../font/Rubik/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik/Rubik-ExtraBold.woff2') format('woff2'),
        url('../font/Rubik/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik/Rubik-Bold.woff2') format('woff2'),
        url('../font/Rubik/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik/Rubik-SemiBold.woff2') format('woff2'),
        url('../font/Rubik/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik/Rubik-Medium.woff2') format('woff2'),
        url('../font/Rubik/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik/Rubik-Regular.woff2') format('woff2'),
        url('../font/Rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




body{
    overflow-x: hidden;
    background-color: #FCFCFC;
    position: static;
}

body::before{
    content: '';
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 940px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    background-color: #FFFDFB;
    z-index: -100;
    pointer-events: none;
    
}



.header{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    padding: 0 50px;
    height: 70px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
   
}
.header .inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
    z-index: 1;
}
.header .inner::before{
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #D7F8A7;
    z-index: 2;
}
.header .inner .logo{
    width: 82px;
    margin-left: 30px;
}
.header .inner .logo a img{
    width: 100%;
    object-fit: cover;
}
.header .inner .nav .gnb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #D7F8A7;
    padding: 10px 41px;
    border-radius: 10px;
}
.header .inner .nav .gnb li a{
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 500;
    color: #6B4C3B;
    display: inline-block;
}
.header .inner .nav .gnb li a:hover{
    font-weight: 700;
}
.header .inner .util{
    margin-right: 17.5px;
    z-index: 9;
}
.header .inner .util ul{
    display: flex;
    gap: 20px;
}
.header .inner .util ul li:nth-child(2){
    margin-right: 15px;
}
.header .inner .util li{
    width: 35px;
}
.header .inner .util li a img{
    width: 100%;
    object-fit: cover;
}


.main{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.main .inner .main_visual{
    width: 100%;
    padding: 0 30px;
    margin: 67px auto 330px;
    position: relative;
}
.main .inner .main_visual .main_img ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main .inner .main_visual .main_img li{
    width: 500px;
    height: 700px;
}
.main .inner .main_visual .main_img li img{
    width: 100%;
    object-fit: cover;
} 
.main .inner .main_visual .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main .inner .main_visual .title h2{
    font-family: 'Montserrat';
    font-size: 90px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 2px #6B4C3B;
    white-space: nowrap;
    margin-bottom: 10px;
}
.main .inner .main_visual .title h3{
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 2px #6B4C3B;
    margin-bottom: 40px;
}
.main .inner .main_visual .title span{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    color: #DFDFDF;
    text-decoration: underline;
}


.section-01{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto 360px;
}
.section-01 .category{
    width: 100%;
    height: 670px;
    margin: 0 auto 50px;
}
.section-01 .category .list{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 700px);
    justify-content: center;
    gap: 10px;
}
.section-01 .category .list .item{
    width: 700px;
    margin: 0 auto;
    height: 330px;
    display: flex;
    background-color: #fff;
}
.section-01 .category .list .item .left{
    width: 370px;
    height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.section-01 .category .list .item .left::before{
    content: '';
    width: 372px;
    height: 2px;
    position: absolute;
    top: -2px;
    left: 2px;
    background-color: #D3D3D3;
    z-index: -1;
}
.section-01 .category .list .item .left .title{
    margin: 25px 0 0 30px;
}
.section-01 .category .list .item .left .title h4{
    font-family: 'Rubik';
    font-size: 27px;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}
.section-01 .category .list .item .left .img_wrap{
    width: 200px;
    height: 200px;
    margin: 0 auto 6px;
    position: relative;
}
.section-01 .category .list .item .left .img_wrap img{
    width: 100%;
    object-fit: cover;
}
.section-01 .category .list .item .left .img_wrap img.hover{
    display: none;
}
.section-01 .category .list .item .left .img_wrap:hover img.hover{
    display: block;
}
.section-01 .category .list .item .left .img_wrap:hover img.default{
    display: none;
}
.section-01 .category .list .item .left .text{
    margin: 30px 20px 35px 40px;
    display: flex;
    justify-content: space-between;
}
.section-01 .category .list .item .left .text p{
    font-family: 'Rubik';
    font-size: 17px;
    color: #454545;
}
.section-01 .category .list .item .left .text b{
    font-family: 'Rubik';
    font-size: 19px;
    font-weight: 600;
    color: #333;
}

.section-01 .category .list .item .right{
    width: 330px;
    height: 330px;
    position: relative;
}
.section-01 .category .list .item .right::before{
    content: '';
    width: 330px;
    height: 330px;
    position: absolute;
    top: -2px;
    left: 2px;
    background-color: #B4B4B4;
    z-index: -1;
}
.section-01 .category .list .item .right .img_wrap{
    width: 330px;
    height: 330px;
    position: relative;
}
.section-01 .category .list .item .right .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-01 .category .list .item .right .img_wrap img.hover{
    display: none;
}
.section-01 .category .list .item .right .img_wrap:hover img.hover{
    display: block;
}
.section-01 .category .list .item .right .img_wrap:hover img.default{
    display: none;
}

.section-01 .look{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    height: 380px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.section-01 .look .list{
    height: 100%;
}
.section-01 .look .list .item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-01 .look .list .swiper-slide{
    width: 210px;
    height: 100%;
}
.section-01 .look .list .item .img_wrap{
    width: 210px;
    position: relative;
}
.section-01 .look .list .item .img_wrap img{
    width: 100%;
    object-fit: cover;
}
.section-01 .look .list .item .img_wrap::after{
    content: 'view';
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(184, 184, 184, 0.5);
    transition: background-color 0.3s ease;
}
.section-01 .look .list .item:hover .img_wrap::after{
    display: flex;
}


.section-02{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto 200px;
    padding: 0 60px;
}
.section-02 .flyLight{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.section-02 .flyLight .left,
.section-02 .flyLight .right{
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section-02 .flyLight .left{
    width: 600px;
    height: 800px;
}
.section-02 .flyLight .left .img_wrap{
    width: 600px;
    height: 800px;
}
.section-02 .flyLight .left .img_wrap a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-02 .flyLight .left .text{
    white-space: nowrap;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
.section-02 .flyLight .left .text h4{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 1.5px #6B4C3B;
}


.section-02 .flyLight .right{
    width: 760px;
}
.section-02 .flyLight .right .list{
    width: 760px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    align-items: center;
    justify-content: center;   
    gap: 0 40px;
    position: relative;        
}
.section-02 .flyLight .right .list .item{
    width: 220px;
    height: 250px;
    position: relative;
}
.section-02 .flyLight .right .list .item a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.section-02 .flyLight .right .list .item .tab_btn button{
    height: 23px;
    position: absolute;
    top: 20px;
    right: 0;
    display: none;
}
.section-02 .flyLight .right .list .item .tab_btn button.active{
    display: block;
}
.section-02 .flyLight .right .list .item .tab_btn button img{
    height: 100%;
    object-fit: cover;
}
.section-02 .flyLight .right .list .item:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-02 .flyLight .right .list .item:nth-child(5) .img_wrap{
    width: 150px;
    height: 83px;
}
.section-02 .flyLight .right .list .item .img_wrap{
    width: 160px;
    height: 180px;
    margin: 0 auto;
}
.section-02 .flyLight .right .list .item .img_wrap img{
    width: 100%;
    object-fit: cover;
}
.section-02 .flyLight .right .list .item .img_wrap img.hover{
    display: none;
    z-index: 2;
}
.section-02 .flyLight .right .list .item:hover .img_wrap img{
    display: none;
}
.section-02 .flyLight .right .list .item:nth-child(5):hover .img_wrap img{
    display: block;
}
.section-02 .flyLight .right .list .item:hover .img_wrap{
    width: 225px;
    height: 225px;
    margin-top: 7px;
}
.section-02 .flyLight .right .list .item:nth-child(5):hover .img_wrap{
    width: 150px;
    height: 83px;
    margin-top: 0px;
}
.section-02 .flyLight .right .list .item:hover .img_wrap img.hover{
    display: block;
}
.section-02 .flyLight .right .list .item:hover .text{
    display: none;
}
.section-02 .flyLight .right .list .item .text{
    /* margin-left: 24px; */
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.section-02 .flyLight .right .list .item .text p{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: #454545;
    line-height: 1.4;
}
.section-02 .flyLight .right .list .item .text b{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.section-02 .flyLight .right .box .w span,
.section-02 .flyLight .right .box .h span{
    position: absolute;
    background-color: #C2C2C2;
}
.section-02 .flyLight .right .box .w span{
    width: 100%;
    height: 1px;
}
.section-02 .flyLight .right .box .h span{
    width: 1px;
    height: 100%;
}
.section-02 .flyLight .right .box .w span:nth-child(1){
    top: 267px;
    left: 0;
}
.section-02 .flyLight .right .box .w span:nth-child(2){
    top: 534px;
    left: 0;
}
.section-02 .flyLight .right .box .h span:nth-child(1){
    top: 0;
    left: 248px;
}
.section-02 .flyLight .right .box .h span:nth-child(2){
    top: 0;
    left: 514px;
}



.section-03{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F7F7F7;
    padding: 140px 50px 140px;
}
.section-03 .hb{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-03 .head .top,
.section-03 .bag .top{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-03 .head .top .item,
.section-03 .bag .top .item{
    position: relative;
    width: 700px;
}
.section-03 .head .top .item .img_wrap,
.section-03 .bag .top .item .img_wrap{
    width: 700px;
    height: 400px;
}
.section-03 .head .top .item .img_wrap img,
.section-03 .bag .top .item .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-03 .head .top .item .text,
.section-03 .bag .top .item .text{
    position: absolute;
    top: 30px;
    left: 35px;
}
.section-03 .head .top .item .text h4,
.section-03 .bag .top .item .text h4{
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 1px #6B4C3B;
}
.section-03 .head .bottom,
.section-03 .bag .bottom{
    width: 695px;
    height: 170px;
    margin: 0 auto;
}
.section-03 .head .bottom .list,
.section-03 .bag .bottom .list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}
.section-03 .head .bottom .list .swiper,
.section-03 .bag .bottom .list .swiper{
    width: 100%;
    height: 100%;
}
.section-03 .head .bottom .list .swiper-slide,
.section-03 .bag .bottom .list .swiper-slide{
    width: 170px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-03 .head .bottom .list .item,
.section-03 .bag .bottom .list .item{
    width: 170px;
    height: 170px;
    position: relative;
}
.section-03 .head .bottom .list .item .tab_btn button,
.section-03 .bag .bottom .list .item .tab_btn button{
    height: 23px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
    z-index: 10;
}
.section-03 .head .bottom .list .item .tab_btn button.active,
.section-03 .bag .bottom .list .item .tab_btn button.active{
    display: block;
}
.section-03 .head .bottom .list .item .tab_btn button img,
.section-03 .bag .bottom .list .item .tab_btn button img{
    height: 100%;
    object-fit: cover;
}
.section-03 .head .bottom .list .item .img_wrap,
.section-03 .bag .bottom .list .item .img_wrap{
    width: 170px;
    height: 170px;
    border: 1px solid #E3E3E3;
    position: relative;
}
.section-03 .head .bottom .list .item .img_wrap img,
.section-03 .bag .bottom .list .item .img_wrap img{
    width: 100%;
    object-fit: cover;
}
.section-03 .head .bottom .list .item .text,
.section-03 .bag .bottom .list .item .text{
    width: 165px;
    padding: 0 15px;
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.section-03 .head .bottom .list .item .text p,
.section-03 .bag .bottom .list .item .text p{
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 500;
    color: #454545;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-03 .head .bottom .list .item .text b,
.section-03 .bag .bottom .list .item .text b{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: #333;
}



.footer{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 97px;
    background-color: #F8F8F8;
}
.footer .inner .ticker{
    width: 100%;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    background: #D7F8A7;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    
    display: flex;
    align-items: center;
    position: relative;
}
.footer .inner .ticker .ticker__wrap {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 15s linear infinite;
}
.footer .inner .ticker .ticker__wrap span {
    margin-right: 50px;
    text-decoration: underline;
}
@keyframes scrollText {
    0% {
        transform: translateX(0);
  }
    100% {
        transform: translateX(-50%);
  }
}
.footer .inner .footer_logo{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .inner .footer_logo .logo{
    height: 70px;
}
.footer .inner .footer_logo .logo a img{
    height: 100%;
    object-fit: cover;
}
.footer .inner .info_wrap{
    width: calc(100% - 120px);
    height: 320px;
    margin: 40px auto 0;
    background-color: #fff;
    padding: 60px 80px 55px;
}
.footer .inner .info_wrap .footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .inner .footer_nav .gnb_group{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 211px;
    align-items: flex-start;
}
.footer .inner .footer_nav .gnb_group .gnb_01,
.footer .inner .footer_nav .gnb_group .gnb_02{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .inner .footer_nav .info{
    text-align: right;
}
.footer .inner .footer_nav .info li{
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}
.footer .inner .sns{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer .inner .sns span{
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 400;
}
.footer .inner .sns .gnb{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer .inner .sns .gnb li{
    width: 35px;
}
.footer .inner .sns .gnb li a img{
    width: 100%;
    object-fit: cover;
}